/*

azul      => #204983
vermelho  => #8b172a

verde => 53a51c
azul => 196670

texto => Futura Md BT
titulo => Geometr415 Blk BT

*/

*, *:before, *:after {
  box-sizing: border-box;
}



/* a => perdeu a senha? */
.form a {
  text-decoration: none;
  color: white;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.form a:hover {
  color: #53a51c;
}

.form {
  background: #196670;
  padding: 40px;
  max-width: 30em;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: white;
  color: #a0b3b0;
  font-size: 1.5em;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  font-family:'Geometr415 Blk BT';  
}
.tab-group li a:hover {
  color: black;
}
.tab-group .active a {
  background: #53a51c;
  color: #ffffff;
}

.tab-content > div:last-child {
  display: none;
}

/*titulo cadastre-se e entre na sua escola*/
.form h1 {
  font-family:'Geometr415 Blk BT';
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
  cursor:default;
}

/* campos dos inputs */
.form label {
  position: absolute;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 1.2em;
  font-family:'Futura Md BT'; 
}
.form label .req {
  margin: 2px;
  color: #53a51c;
}

.form label.active {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
.form label.active .req {
  opacity: 0;
}

.form label.highlight {
  color: #ffffff;
}


/*inputs type text*/
.form input, textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}
.form input:focus, textarea:focus {
  outline: 0;
  border-color: #53a51c;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

/*botao do submit cadastro e de login*/
.button {
  font-family:'Geometr415 Blk BT';
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #53a51c;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
  background: #53a51c;
}

.button-block {
  display: block;
  width: 100%;
  cursor:pointer;
}

.forgot {
  margin-top: -20px;
  margin-bottom:20px;
  text-align: right;
}

@media screen and (max-width: 400px) {

  .tab-group li a{
    font-size: 1em;
  }

}