html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Futura Md BT';
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.icon {
  position: relative;
  width: 32px;
  height: 32px;
  display: block;
  fill: rgba(51, 51, 51, 0.5);
  margin-right: 20px;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.icon.active {
  fill: #fff;
}

.icon.big {
  width: 64px;
  height: 64px;
  fill: rgba(51, 51, 51, 0.5);
}

#wrapper {
  width: 100%;
  height: 450px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #196670;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  overflow: hidden;
}

#left-side {
  height: 70%;
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#left-side ul li {
  padding-top: 10px;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 34px;
  color: rgba(51, 51, 51, 0.5);
  color: #a0b3b0;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}
#left-side ul li:hover {
  color: #fff;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}
#left-side ul li:hover > .icon {
  fill: #fff;
}
#left-side ul li.active {
  color: #fff;
}
#left-side ul li.active:hover > .icon {
  fill: #fff;
}

#border {
  height: 288px;
  width: 1px;
  background-color: rgba(51, 51, 51, 0.2);
}
#border #line.one {
  width: 5px;
  height: 54px;
  background-color: white;
  margin-left: -2px;
  margin-top: 35px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
#border #line.two {
  width: 5px;
  height: 54px;
  background-color: white;
  margin-left: -2px;
  margin-top: 89px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
#border #line.three {
  width: 5px;
  height: 54px;
  background-color: #fff;
  margin-left: -2px;
  margin-top: 143px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
#border #line.four {
  width: 5px;
  height: 54px;
  background-color: #fff;
  margin-left: -2px;
  margin-top: 197px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

#right-side {
  height: 300px;
  width: 75%;
  overflow: hidden;
}
#right-side #first, #right-side #second, #right-side #third, #right-side #fourth {
  position: absolute;
  height: 300px;
  width: 75%;
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
  margin-top: -350px;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#right-side #first h1, #right-side #second h1, #right-side #third h1, #right-side #fourth h1 {
  font-weight: 800;
  color: white;
}
#right-side #first p, #right-side #second p, #right-side #third p, #right-side #fourth p {
  color: #fff;
  font-weight: 500;
  padding-left: 30px;
  padding-right: 30px;
}
#right-side #first.active, #right-side #second.active, #right-side #third.active, #right-side #fourth.active {
  margin-top: 0px;
  opacity: 1;
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}



/*      AREA EDITADA      */


body{
  background-image:url("../../../imagens/fundo.png") ;  
}

.form{ 
  box-shadow:none !important;
  max-width:99% !important;
  height:10% !important;
  margin:0px !important;
  padding:0px !important;
  float:right !important;
}
#first.active{
  display: inline !important; 
  -webkit-box-align: none !important;

}
.field-wrap{
  width:25em !important;
  float:left !important;
  margin-left:2.5em !important;
  margin-right:1em !important;
  margin-bottom:2em !important;  

}

.field-wrap label{
  color:#a0b3b0 !important;
}

.field-wrap input{
  color:white !important;
}

.button{
  max-width:25em !important;
  margin-left:2.5em !important;
  margin-right:1em !important;
  margin-bottom:2em !important;  
  float:left !important;
  height:38px !important;
}

.topo-cadastre-se{
  width:100% !important;
  height:85% !important;
  float:left !important;
  padding:20px !important;
  font-size:3.5em !important;
  font-family:'Geometr415 Blk BT' !important;  
  cursor:default !important;
  color:#53a51c !important;
}

.rodape-cadastro{
  width:100% !important;
  height:15% !important;
  float:left !important;
  padding:20px !important;
}

.rodape-cadastro #logotipo-escola-inteligente{
  float:right !important;
  height:70% !important;
}

.rodape-cadastro #fonte-inicio{
  font-size:1.5em ;
  font-family:'Geometr415 Blk BT' ;  
  cursor:pointer ;
  color:#196670 ;
  text-decoration: none;     
}

.rodape-cadastro #fonte-inicio:hover{  
  color:#53a51c ;
  transition:.5s ;
}

.button{
  margin-top:-500px;
}

.sobre-voce{
  display:block !important;
  margin-top:0px;
}


.button{
  text-align:center !important;
  padding:10px !important;
}

#alertaSenha{
  width:30%;
  height:20%;
  background-color:rgba(0,0,0,0.7);
  border-radius:10px;
  z-index: 9999;
  position:absolute;
  margin-left:40%;
  margin-top:2%;
  float:left;
  padding:15px;
  color:white;
  font-size:25px;
  cursor:default;
  display:none;
}

.plano-detalhe{
  width:100%;
  height:100%;
  float:left;
}

.plano-detalhe .etapa-plano{
  float:left;
  width:32%;
  height:100%;
  color: #a0b3b0;
  cursor:pointer; 
  margin-top:1%;
  margin-bottom:1%;
  margin-left:10px;
  text-align:center;
  cursor:default;
  font-size:14px;
  background-color:#53a51c;
  border-radius:2px;
}

.plano-detalhe .etapa-plano #titulo-etapa-plano{
  width:100%;
  height:15%;
  color:white;
  font-size:20px;
  padding:10px;
  border-bottom:1px solid white;
  font-family:'Geometr415 Blk BT'; 
}

.plano-detalhe .etapa-plano #vantagens-etapa-plano{
  width:100%;
  height:70%;
  color:white;
  text-align:left;
  padding-left:10px;
}

.plano-detalhe .etapa-plano #botao-etapa-plano{
  width:90%;
  height:10%;
  cursor:pointer;
  background-color:white;
  border:none;
  font-size:16px;
  color:#196670;
  font-family:'Geometr415 Blk BT';   
}

.plano-detalhe .etapa-plano #botao-etapa-plano:hover{
  color:#53a51c;
  transition:.5s;
}

.rodape-plano{
  width:100%;
  height:25%;
  float:left;
  padding:2em;
  color:white;
  font-size:16px;
}

.rodape-plano #botao-voltar{
  width:150px;
  height:25px;
  cursor:pointer;
  background-color:white;
  border:none;
  font-size:16px;
  float:right;
  color:white;
  background-color:#53a51c;     
}

#right-side #fourth.active{
  margin-top:-80px;
}

#first h1{
  cursor:default;
}

#second h1{
  cursor:default;
}

#third h1{
  cursor:default;
}

#fourth h1{
  cursor:default;
}



@media screen and (max-width: 600px) {

  body{
    background-color:#196670 !important;
    background-image:none;
  }

  .topo-cadastre-se{
    /*z-index: 9999 !important;*/
    text-align:center !important;
    width:100% !important;
    height:100px !important;
    float:left !important;
  }

  #wrapper{
    margin-top:100px;
    overflow: visible !important;
    height:auto;
    float:left !important;
    box-shadow:none;
  } 

  #left-side{
    display:none !important;
  }

  #right-side{  
    width:100% !important; 
    float:left !important;
    text-align: left !important;
    margin-top:-250px !important;
  }

  #first{
    width:100% !important;
  }

  #second{
    width:100% !important;
  }

  #third{
    width:100% !important;
  }

  #fourth{
    width:100% !important;
    margin-top:50px !important;
  }

  #border{
    display:none !important;
  }

  .rodape-cadastro {
    display:none !important;
  }

  .form{
    width:100% !important;
  }

  .field-wrap{
    width:90% !important;
    margin-left:5% !important;
  }

  .button-block{
    width: 90% !important;
    max-width: 90% !important;
    margin-left:5% !important;
  }

  #first h1{
    width:90% !important;
    margin:5% !important;
    cursor:default;
  }

  #second h1{
    width:90% !important;
    cursor:default;
  }

  #third h1{
    text-align:center;
    width:90% !important;
    margin:5% !important;
    cursor:default;
  }

  #fourth h1{
    width: 100% !important;
    cursor:default;
  }

  #fourth .plano-detalhe{
    width:90% !important;
    margin:5% !important;
  }

  #fourth .plano-detalhe .etapa-plano{
    width:100% !important;
    margin:0px !important;
    margin-top:10px !important;
  }

  #fourth .rodape-plano{
    margin-top:650px;
  }

  #fourth .rodape-plano #botao-voltar{
    width:100%;
    height:30px;
    margin-top:20px;
    margin-bottom:20px;
  }

}
