@import url("main-responsive.css");
/*

azul bebe => highlight

*/
body{
	margin:0;
	padding:0;
}

.cabecalho{
	width:100%;
	height:110%;
	float:left;
	position:absolute;
	background-image:url("../../../imagens/fundo2.png");
	background-repeat:no-repeat;
	background-position: top right -10px;
	background-size:40% 40%;
}

.corpo{
	width:100%;
	height:200%;
	float:left;
	background-color:#196670;
	border-top:2px solid darkgrey;
}

.planos{
	width:100%;
	height:120%;
	float:left;
	background-color:#53a51c;
	border-top:3px solid darkgrey;
	padding-top:20px;
}

.rodape{
	width:100%;
	height:7%;
	float:left;
	border-top:2px solid darkgrey;
}

.cabecalho .topo{
	width:100%;
	height:10%;
	float:left;
}

.cabecalho .banner{
	height:90%;
	width:50%;
	float:left;
	padding-top:7%;
}

.cabecalho .area-login {
	height:90%;
	width:50%;
	float:left;	
}

.cabecalho .topo #logotipo{
	height:100%;
	margin-left:2%;
	margin-top:.5%;
	float:left;
}

.cabecalho .banner #image-banner{
	display: block;
	width:100%;
}

.cabecalho .corpo #titulo-corpo{
	font-family:'Geometr415 Blk BT';
	font-size:2em;
	margin:2%;
	float:left;
	width:90%;
	color:#fff;

}

.cabecalho .corpo #preconteudo-corpo{
	font-family:'Futura Md BT';
	font-size:1.2em;
	margin:2%;
	float:left;
	width:90%;	
	color:#fff;
}

.cabecalho .corpo #topico-vantagem{
	margin-left:6em;
	margin-right:5em;
	margin-bottom:2em !important;
	text-align: justify;
	float:left;
	width:30em;
	height:15em;
}

.cabecalho .corpo #topico-vantagem #texto-vantagem{
	font-family:'Futura Md BT';
	font-size:1em;
	color:#a0b3b0;
}


.cabecalho .corpo #topico-vantagem span{
	width:100%;
	height:7em;
	margin:0em;
	text-align:center !important;
}

.cabecalho .planos #titulo-planos{
	width:80%;
	font-family:'Geometr415 Blk BT';
	font-size:2em;
	margin:2%;
	color:white;
	margin-top:100px;
}


/*		PAG ERROR		*/

.pagError{
	width:100%;
	height:85%;
	position:absolute;	
	background-image:url("../../../imagens/robo-quebrado.png");
	background-repeat: no-repeat;
	background-size: 200px auto;
	background-position: left 20px bottom 10px;
	padding-top:7%;
}


.pagError .mensagem-error{
	background-color:#E84C3D;
	width:60em;
	height:22em;
	border-radius:10px;
}

.pagError .mensagem-error #imagem{
	width:40%;
	height:100%;
	float:right;
	background-image:url("../../../imagens/rosto-triste.png");
	background-size:70% auto;
	background-repeat: no-repeat;
	background-position:center center;
}

.pagError .mensagem-error #conteudo-error{
	width:60%;
	height:100%;
	float:left;
	padding-top:100px;
}

.pagError .mensagem-error #conteudo-error #fonte-error-01{
	font-size:2em;
	color:white;
	cursor:default;
	font-family:'Futura Md BT';
	text-align:left;
	margin-left:10px;
	margin-bottom:10px;
	float:left;
	width:100%;
}

.pagError .mensagem-error #conteudo-error #fonte-error-02{
	font-size:1.2em;
	color:white;
	cursor:default;
	font-family:'Futura Md BT';	
	text-align:left;
	margin-left:10px;
	margin-top:10px;
	float:left;
	width:100%;
}

.pagError .mensagem-error #conteudo-error #fonte-error-03{
	font-size:1.2em;
	color:white;
	cursor:default;
	font-family:'Geometr415 Blk BT';	
	text-align:left;
	margin-left:10px;
	margin-top:10px;
	float:left;
	width:100%;
}

.pagError .mensagem-error #conteudo-error #link-error{
	font-size:1.2em;
	color:white;
	font-family:'Geometr415 Blk BT';	
	text-align:left;
	margin-left:10px;
	margin-top:30px;
	float:left;
	text-decoration:none;
}

.pagError .mensagem-error #conteudo-error #link-error:hover{
	color:#196670;
	transition:.5s;
}


/*		PAG DASHBOARD		*/

.classe-bem-vindo-portal{
	width:100%;
	height:59%;
	background-image:url("../../../../imagens/apresentacao-cadastro-portal.jpg");
	background-size: 100% 100%;
	position:absolute;
	padding-top:20%;
}

.classe-bem-vindo-portal #pre-titulo{
	color:white;
	font-size:5em;
	cursor:default;
	font-family:'Futura Md BT';
}

.main-form-portal{
	width:100%;
	height:100%;
	position:absolute;
	display:none;
}

.main-form-portal .form-edicao-portal{
	width:25%;
	height:100%;
	background-color:rgba(0,0,0,0.6);
	z-index:9999;
	overflow: hidden;
	position:absolute;
}

.main-form-portal .form-edicao-portal .topo{
	width:100%;
	height:13%;
	float:left;
}

.main-form-portal .form-edicao-portal .url{
	width:96%;
	height:20%;
	float:left;
	margin:2%;
	border-top:1px solid #196670;
	border-bottom:1px solid #196670;
}

.main-form-portal .form-edicao-portal .conteudo-form-portal{
	width:96%;
	height:57%;
	float:left;
	margin:2%;
	border-bottom:1px solid #196670;	
}

.main-form-portal .form-edicao-portal .conteudo-form-portal .topico-input{
	width:100% !important;
	float:left;
	margin:1%;
}

.main-form-portal .form-edicao-portal .conteudo-form-portal .topico-input select{
	text-align: center;
    display: inline-block;
    font-family: 'Futura Md BT';
    margin-bottom: 20px;
   	border: none;
    font-size: 0.9em;
    width: 200px;
    font-weight: 700;
    height: 27px;
    border-radius: 2px;
    padding: 5px; 
}

.main-form-portal .form-edicao-portal .conteudo-form-portal .topico-input #titulo-input{
	margin:1%;
	color:#a0b3b0;
	font-size:1.1em;
	cursor:default;
	font-family:'Futura Md BT';	
	width:100% !important;
	float:left;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
	font-size: 0.9em;
    width: 200px;
    font-weight: 700;
    height: 20px;
    border-radius: 2px;
    padding: 5px;
    color: white;
    background-color: #53a51c;
    text-align: center;
    display: inline-block;
	font-family:'Futura Md BT';	
}

.inputfile:focus + label,
.inputfile + label:hover {
    transition: .5s;
    cursor:pointer;
    color:black;
}

.inputfile_fundo {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile_fundo + label {
	font-size: 0.9em;
    width: 200px;
    font-weight: 700;
    height: 20px;
    border-radius: 2px;
    padding: 5px;
    color: white;
    background-color: #53a51c;
    text-align: center;
    display: inline-block;
	font-family:'Futura Md BT';	
}

.inputfile_fundo:focus + label,
.inputfile_fundo + label:hover {
    transition: .5s;
    cursor:pointer;
    color:black;
}


.main-form-portal .form-edicao-portal .conteudo-form-portal #botao-submit{
	font-size: 0.9em;
    width: 200px;
    font-weight: 700;
    height: 30px;
    border-radius: 2px;
    padding: 5px;
    color: white;
    background-color: #53a51c;
    text-align: center;
    display: inline-block;
	font-family:'Futura Md BT';	
	border: none;
}

.main-form-portal .form-edicao-portal .conteudo-form-portal #botao-submit:hover{
	color:black;
	cursor:pointer;
	transition:.5s;
}

.main-form-portal .form-edicao-portal .rodape-form-portal{
	color:#a0b3b0;
	font-size:1em;
	cursor:pointer;
	font-family:'Futura Md BT';	
	width:96%;
	height:2%;
	float:left;
}

.main-form-portal .form-edicao-portal .rodape-form-portal:hover{
	color:white;
	transition: .5s;
}

.main-form-portal .form-edicao-portal .url #titulo{
	color:white;
	font-size:1em;
	cursor:default;
	font-family:'Futura Md BT';	
	margin-top:5px;
	margin-left:5px;
	float:left;
}

.main-form-portal .form-edicao-portal .url #url_portal{
	background-color:rgba(0,0,0,0.5);
	width:90%;
	height:50%;
	float:left;
	margin-top:1%;
	color:white;
	cursor:default;
	font-size:1em;
	font-family:'Futura Md BT';
	padding:5%;
}

.main-form-portal .form-edicao-portal .topo table{
	width:100%;
}

.main-form-portal .form-edicao-portal .topo #titulo{
	float:left;
	color:#a0b3b0;
	cursor:default;
	font-size:1.5em;
	font-family:'Futura Md BT';
	margin:2%;
}

.main-form-portal .form-edicao-portal .topo #close{
	color:#a0b3b0;
	cursor:pointer;
	font-size:1.5em;
	font-family:'Futura Md BT';
	margin:2%;
	margin-right:15px;	
	float:right;
}

.main-form-portal .form-edicao-portal .topo #close:hover{
	transition: .5s;
	color:white;
}

.main-form-portal .form-edicao-portal .topo #link{
	float:left;
	color:#a0b3b0;
	cursor:pointer;
	font-size:1em;
	font-family:'Futura Md BT';
	margin:2%;		
}

.main-form-portal .form-edicao-portal .topo #link:hover{
	transition: .5s;
	color:white;
}

.portal-frame{
	/*background-image:url("../../../../imagens/papel-de-fundo-criacao-portal.jpg");*/
	background-size:100% 100%;
	width:100%;
	height:100%;
}

.main-form-portal .topo-portal{
	width:100%;
	height:15%;
	float:left;
	overflow: hidden;
	z-index:-1px;
}

.main-form-portal .conteudo-portal{
	width:100%;
	height:80%;
	float:left;
	overflow: hidden;
	z-index:-1px;
}

.main-form-portal .rodape-portal{
	width:100%;
	height:5%;
	float:left;
	overflow: hidden;
	z-index:-1px;
}


.main-form-portal .conteudo-portal .div-form-portal{
	width:400px;
	height:300px;
	margin-top:100px;
}


.main-form-portal .conteudo-portal .div-form-portal #input-login{
    float: left;
    width: 300px;
    margin: 10px;
    margin-left: 40px;
    border: none;
    height: 30px;
    color: #a0b3b0;
    font-size: 1em;
    border-radius: 2px;
    font-family: 'Futura Md BT';
}

.main-form-portal .conteudo-portal .div-form-portal #input-password{
    float: left;
    width: 300px;
    margin: 10px;
    margin-left: 40px;
    border: none;
    height: 30px;
    color: #a0b3b0;
    font-size: 1em;
    border-radius: 2px;
    font-family: 'Futura Md BT';
}


.main-form-portal .conteudo-portal .div-form-portal #input-submit{
    float: left;
    width: 150px;
    margin: 10px;
    margin-left: 40px;
    border: none;
    height: 30px;
    color: white;
    font-size: 1.2em;
    border-radius: 2px;
    font-family: 'Futura Md BT';
    background-color: #53a51c;
    cursor:pointer;
}

.main-form-portal .conteudo-portal .div-form-portal #input-lost-password{
	float: left;
    width: 150px;
    margin-top: 10px;
    border: none;
    height: 30px;
    color: white;
    font-size: 1.2em;
    border-radius: 2px;
    font-family: 'Futura Md BT';
    color:#196670;
    cursor:pointer;
}

.topo-portal #logo-tipo{
	max-height: 100px;
	float:left;
	margin-left:20px;
}

/*	||||||||||||||||||||||||||||||||||||||||||||||||	*/
/*	||||||||||| RESPONSIVIDADE DO SITE |||||||||||||	*/
/*	||||||||||||||||||||||||||||||||||||||||||||||||	*/


@media screen and (max-width: 600px) {

	.banner{
		display:none;
	}
	.area-login{
		width:100% !important;
	}
	.form{
		width:100% !important;
	}
	.topo{
		width:100%;
	}
	.topo #logotipo{
		width:90%;
	}
	#topico-vantagem{
		width:95% !important;
		margin-left:2.5% !important;
	}

	.corpo{
		height:150em;
	}

	.planos{
		height:320%;
	}

	.pagError{
		width:100%;
		height:100%;
		padding-top:0px;
		background-color:#E84C3D;
		background-position:bottom center;
	}

	.pagError .mensagem-error{
		border-radius:none !important;
		width:100%;		
	}

	.pagError .mensagem-error #conteudo-error{
		width:100% !important;
		height:100% !important;
	}

	.pagError .mensagem-error #conteudo-error #fonte-error-01{
		width:95% !important;
	}

	.pagError .mensagem-error #conteudo-error #fonte-error-02{
		width:95% !important;
	}

	.pagError .mensagem-error #conteudo-error #fonte-error-03{
		width:95% !important;
	}

	.pagError .mensagem-error #imagem{
		display:none;
	}

	.rodape{
	   	display:none !important;
	}

	.planos{
	  	height:auto !important;
	}

	.corpo{
	 	height:auto !important;
	 }	

}

@media screen and (max-width: 400px) {

	.corpo{
		height:200em;
	}
	
	#topico-vantagem{
		height:20em !important;
		margin-left:2.5% !important;
	}

}