* {
  box-sizing: border-box;
  -webkit-transition: all 1s;
  transition: all 1s;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.element-hidden {
  display: none;
}

.plan-name, .plan-price, .plan-details, .button, .more-options, .best-choice {
  padding: 10px;
}

.plans {
  font-family:'Futura Md BT' !important;
  font-size:1em !important;  
  color: #272F30;
  font: 16px Oxygen, Arial, Helvetica, sans-serif;
  font-weight: 300;
  padding: 50px 0;
  margin: 0 auto;
  max-width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  position: relative;
}
.plans .plan-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33.3333%;
  background: #FFFCEF;
  margin: 10px 0;
  min-height: 650px;
}
.plans .plan-box .best-choice {
  background: #D5FFFC;
  text-transform: uppercase;
  font-weight: 600;
  color: #437299;
  box-shadow: inset 0 -2px 3px rgba(0, 0, 0, 0.15), inset 0 2px 3px rgba(0, 0, 0, 0.15);
  margin-top: auto;
}
.plans .plan-box:hover {
  margin-top: -15px;
  background: white;
}
@media all and (max-width: 700px) {
  .plans .plan-box:hover {
    margin-top: 10px;
  }
}
.plans .plan-box:hover .plan-name {
  color: black;
}
.plans .plan-box:hover .plan-price {
  background: #196670;
  box-shadow: inset 0 -4px 3px rgba(0, 0, 0, 0.15), inset 0 4px 3px rgba(0, 0, 0, 0.15);
  text-align: center;
}
.plans .plan-box:hover .more-options {
  display: block;
  padding: 20px;
  text-align: right;
  position: relative;
}
.plans .plan-box:hover .more-options .additional-options {
  position: relative;
  text-align: left;
  width: 100%;
  margin: 0;
}
.plans .plan-box:hover .more-options a {
  color: #196670;
  text-decoration: none;
}
@media all and (max-width: 700px) {
  .plans .plan-box:first-child {
    margin-bottom: 20px;
  }
}
.plans .plan-box:nth-child(2) {
  margin-top: 0;
  box-shadow: -3px 0 3px rgba(0, 0, 0, 0.15), 3px 0 3px rgba(0, 0, 0, 0.15);
  position: relative;
}
.plans .plan-box:nth-child(2):hover {
  margin-top: -35px;
}
@media all and (max-width: 700px) {
  .plans .plan-box:nth-child(2):hover {
    margin-top: 0px;
    marign-right: -30px;
  }
}
@media all and (max-width: 700px) {
  .plans .plan-box {
    width: 100%;
  }
}
.plans .plan-name {
  font: 300 32px Oswald, Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0;
  padding: 20px;
}
.plans .plan-price {
  background: #196670;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font: 24px Oswald, Arial, Helvetica, sans-serif;
  padding: 20px 10px;
  text-align: center;
}
.plans .plan-price strong {
  font-size: 34px;
  -ms-flex-item-align: baseline;
      align-self: baseline;
  line-height: 1;
  font-weight: 500;
}
.plans .plan-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
      flex-flow: column;
  width: 100%;
}
.plans .plan-options li {
  border-bottom: 1px solid #cdcdcd;
  padding: 5px 0;
  margin: 5px 0;
}
.plans .plan-options .button {
  margin-top: auto;
  display: block;
  background: #196670;
  color: white;
  text-align: center;
  font: 24px Oswald, Arial, Helvetica, sans-serif;
  text-decoration: none;
}
.plans .plan-options .button:hover {
  background: #196600;
}
